/* 
Import
*/
    @import "./variables.css";
/**/

/* 
Reset CSS
*/
    *{
        margin: 0rem;
        padding: 0rem;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.6rem;
        font-family: var(--text-font-family);
    }

    main{
        display: var(--flex-container-display);
        justify-content: space-between;
    }
/**/

h1{
    color: var(--primary-color);
    font-family: var(--title-font-family);
}

section{
    border: 0.1rem solid red;
    padding: 2rem;
    margin-bottom: 2rem;
}

article{
    border: 0.1rem solid green;
    padding: 2rem;
    margin-bottom: 2rem;
}

section{
    width: var(--size-container);
    display: var(--flex-container-item-display);
    justify-content: space-between;
}

article{
    width: var(--size-container-item);
}