/* 
Design System: main CSS variables
Instructions for Design edition:
  - Do never edit or remove any CSS selector below
  - Use the 1rem for 10px to define all sizes (7px = 0.7rem, 35px = 3.5rem, ...)
  - The minimum size is 0.1rem, maximum depend on your needs
  - All colors unit can be used (rgba, #...)
  - If you can define a new variable:
    - Use a name with a specific definition (--tertiary-color, --border-radius-x-light, ...)
    - Define values at least for ".default-theme"
    - Use existing CSS selectors, do never add new one
  - To set up your font family:
    - Use a CDN or set your own fonts (https://fonts.google.com)
    - Use @font-face and create a "fonts" folder in the "assets" folder (https://developer.mozilla.org/fr/docs/Web/CSS/@font-face)
*/

/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

/* 
Default variable definition
Those values are used globaly, for (max-width="767").
*/
.small-theme {
  /* Page width palette */
  --page-max-width: 120rem;
  --page-width: 100vw;

  /* Color main palette */
  --primary-color: #2fe280;
  --primary-light-color: #2fe28029;
  --secondary-color: #1b3f43;
  --tercary-color: #95d21c;

  --default-text-color: #1b203e;
  --disabled-color: #666;
  --disabled-secondary-color: #666;
  --background-color: #fbfbfb;
  --light-color: #fef8ed;
  --error-color: #be425d;
  --form-main-color: #37b293;
  --form-input-color: #999;
  --form-color-text: #666;
  --form-element-height: var(--button-icon-size);
  --success-color: #38b293;
  --textarea-min-height: 10rem;
  --select-paddin-right: 3rem;
  --button-color: var(--primary-color);
  --button-color-hover: var(--secondary-color);
  --button-border-color: var(--secondary-color);
  --button-border-color-hover: var(--secondary-color);

  /* Font family */
  --title-font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  --text-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --title-font-weight: 100;
  --text-font-weight: 100;
  --text-font-weight-bold: 500;

  /* Texte family */
  --main-line-height: 1.5;
  --small-line-height: 1;
  --text-level-1: 1.6rem;
  --text-level-2: 1.3rem;
  --text-level-3: 1rem;

  /* Title family */
  --title-level-1: 4rem;
  --title-level-2: 2.5rem;
  --title-level-3: 2rem;
  --title-level-4: 2rem;
  --title-level-5: 2rem;
  --title-level-6: 1.8rem;

  /* Edges pallette */
  --edge-large: 2rem;
  --edge-large-x: calc( var(--edge-large) * 2 );
  --edge-large-xl: calc( var(--edge-large) * 3 );
  --edge-medium: 1.5rem;
  --edge-small: 0.8rem;
  --edge-light: 0.5rem;
  --edge-input: 1.3rem 1.0rem 1.4rem;
  --edge-select: .5rem 1.0rem .7rem;

  /* Button pallette */
  --button-font-family: var(--text-font-family);
  --button-font-level: 1.2rem;
  --button-icon-size: 3.5rem;
  --button-background-color: transparent;
  --button-background-color-hover: transparent;
  --button-border-radius: 0rem;
  --button-padding: 0rem 0rem 0rem var(--edge-light);

  /* Transition pallet */
  --transition-ease: all 300ms ease;
  --transition-ease-in: all 300ms ease-in;
  --transition-ease-out: all 300ms ease-out;

  /* Container size */
  --flex-container-display: block;
  --flex-container-item-display: block;
  --size-container: 100%;
  --size-container-item: 100%;
}

/* 
Medium variable definition
Those values are used for (min-width="992")
*/
    .medium-theme{
        --flex-container-item-display: flex;
        /* Container size */
        --size-container-item: calc( 50% - 2rem );

    }
/**/

/* 
Large variable definition
Those values are used for (min-width="1200")
*/
    .large-theme {
        /* Container size */
        --flex-container-display: flex;
        --flex-container-item-display: flex;
        --size-container: calc( 50% - 2rem );
        --size-container-item: calc( 50% - 2rem );
    }
/**/